
{% load bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {% block styles %} {% bootstrap_css %} {% endblock %}
</head>
<body>
  {% include "navbar.html" %}
  <div class="container-fluid">
    <div class="row">
      <h2 class="text-center" style="margin-bottom: 2%; margin-top: 2%">
        Gallery
      </h2>
    </div>
    {% for image in images%}
    <div class="row">
      
    
      <div class="col-md-3" style="margin-bottom: 30px">  
          <div class="card" style="box-shadow: 5px 6px rgba(51, 65, 65, 0.2)">
            
              <img
                class="card-img-top image"
                src="{{image.photo.url}}"
                alt="{{image.name}}"
                style="height: 300px; display: block; width: 100%"
              />
              
                <div class="overlay">
            
                  <p class="text">{{image.description}}</p>
                    
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{image.name}}</h5>
                </div>
              </div>
          </div>    
      </div>
              
      
    </div>
    {% endfor %}
      
  </div>
  {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
  {% endblock %}
</body>
</html>






